<br /><br />
<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label> Name: <input type="text" id="name" class="form-control" /> </label>
                </div>
                <div class="col-sm-2 form-group">
                    <label> Amount: <input type="number" id="amount" class="form-control" /> </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success"> Add </button>
                    <button type="button" class="btn btn-danger"> Delete </button>
                    <button type="button" (click)="clear()" class="btn btn-primary"> Clear </button>
                </div>
            </div>
        </form>
    </div>
</div>